In [1]:
#Q1: Jupyter is a coding platform for Python

In [2]:
#Q2:
width=3840
height=2160

In [3]:
#Q3:
width

3840

In [4]:
height

2160

In [5]:
#Q4:
total_pixels=height*width

In [6]:
total_pixels

8294400

In [7]:
#Q5:
type(total_pixels)

int

In [8]:
#Q6:
first_name='Tian'
last_name='Song'
first_name+' '+last_name

'Tian Song'

In [9]:
#Q7:
mystery = [{'abc': 'def'}]
type(mystery)

list

In [10]:
#Q8:
type(mystery[0])

dict

In [11]:
#Q9:
import pandas as pd
df = pd.DataFrame([['Coffee', 310],['Tea', 90]], columns=['beverage','caffeine'] )
df

  beverage  caffeine
0   Coffee       310
1      Tea        90

In [12]:
type(df)

pandas.core.frame.DataFrame

In [13]:
#Q10: list
type([['Coffee', 310],['Tea', 90]])

list

In [16]:
columns=['beverage','caffeine']
type(columns)

list

In [17]:
#Q11:
del pd

In [18]:
df = pd.DataFrame([['Coffee', 310],['Tea', 90]], columns=['beverage','caffeine'] )

NameError: name 'pd' is not defined

In [19]:
#Q12:
import pandas as pd
type(df)

pandas.core.frame.DataFrame